  <% layout("/layouts/boilerplate") %>
<body>
    
    <ul>
      <div>
        <img src="<%=listing.image.url %>" alt="imaage" class="img-fluid max-width: 100% height:3rem">
      </div>
      <br>
      <div>
        <li><%= listing.title %></li>
      </div>
      <div>
        <li><%= listing.description %></li>
      </div>
      <div>
        <li> &#8377;<%=listing.price.toLocaleString("en-IN") %>/ Night</li>
      </div>
      <div>
        <li><%= listing.location %></li>
      </div>
      <div>
        <li><%= listing.country %></li>
      </div>
        <br><br>
        <form action="/Listing/<%=listing._id%>/edit"><button>Edit</button></form>
        <br>
        <form action="/Listing/<%=listing._id %>/delete"><button>Delete</button></form>
    </ul>
</body>
 